@media (max-width: 1349px) {
  .footer-container {
    max-width: 95%;
  }
  .footer-block {
    width: 25%;
  }
  .food-images {
    width: 90%;
    margin: 0 auto;
  }
  .section4-menu-block {
    margin-top: 59px;
  }

  .menu-block:nth-child(2) {
    flex-direction: column;
  }
  .menu-block:nth-child(3) {
    margin-right: 57px;
  }
  .menu-block:nth-child(4) {
    margin-bottom: 56px;
  }

  .menu-block:nth-child(6) {
    margin-right: 56px;
  }
  .menu-block:nth-child(5) {
    margin-bottom: 56px;
  }
  .more-menu {
    max-width: 800px;
    width: 100%;
    font-size: 40px;
  }
}
@media (max-width: 1349px) {
  .section3-mainheader {
    font-size: 45px;
  }
  .section3-p {
    font-size: 18px;
  }
  .section3-bg-image {
    max-width: 700px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .header-bg {
    height: 1000px;
  }
}
@media (max-width: 970px) {
  .header-bg {
    height: 900px;
  }
  .section2-header {
    margin-top: 76px;
  }
  .delivery-man-image {
    max-width: 700px;
    width: 100%;
    margin-right: 20px;
  }
  .section3-mainheader {
    font-size: 40px;
  }
  .section3-p {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 30px;
  }
  .section3-mainheader {
    font-size: 38px;
    line-height: 50px;
  }
  .food-ul {
    flex-direction: column;
    align-items: center;
  }
  .food-li {
    margin-bottom: 33px;
  }
  .section3-bg {
    margin-top: 50px;
  }
  .section4-mainheader {
    margin-top: 50px;
  }
  .footer {
    padding: 15px;
  }
  .content-wrapper {
    flex-wrap: wrap;
  }
  .footer-container {
    max-width: 95%;
  }
  .footer-block {
    width: 47%;
  }
  .main-header {
    font-size: 50px;
    margin: 20px;
  }
  .header2 {
    font-size: 17px;
  }
  .header-bg {
    height: 600px;
  }
  .bg-content {
    margin: 0 auto;
  }
  .section4-menu-block {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .menu-block:nth-child(1),
  .menu-block:nth-child(2),
  .menu-block:nth-child(3),
  .menu-block:nth-child(4),
  .menu-block:nth-child(5),
  .menu-block:nth-child(6) {
    margin-right: 0px;
    width: 100%;
  }
}
@media (max-width: 463px) {
  .menu-img {
    width: 100%;
  }
}
