.header-bg {
  background-image: url(../images/headerbg.jpg);
  width: 100%;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 323px;
}
.bg-content {
  max-width: 1608px;
  width: 90%;
  margin: 0 auto;
}
.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
}
.header-logo-image {
  max-width: 212.05px;
  width: 100%;
}

.burger-bar {
  color: white;
  font-size: 40px;
  display: none;
}

.navigation {
  max-width: 600px;
  width: 100%;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  line-height: 19px;
}
.main-header {
  font-family: "Avengeance Mightiest Avenger", sans-serif;
  font-size: 96px;
  color: white;
  line-height: 82px;
  margin: 143.8px 0 122px;
}
.header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 62px;
}
.button-text::after {
  content: "\2192";
  margin-left: 13px;
}
.button-text {
  font-family: "Avengeance Mightiest Avenger", sans-serif;
  max-width: 255px;
  width: 100%;
  height: 68px;
  border-radius: 90px;
  background-color: #ffaa00;
  font-size: 27px;
  color: #a80e0e;
  line-height: 23px;
  text-transform: uppercase;
}
